dist: xenial
language: python
python:
  - "3.6"
branches:
  only:
    - master
env:
  - TOXENV=flake8
  - TOXENV=format
  - TOXENV=mypy
  - TOXENV=py36
before_install:
  - python --version
install:
  - pip install tox
script:
  - travis_wait 60 tox
