[tool.poetry]
name = "pystan"
version = "3.0.0-beta.4"
description = "Python interface to Stan, a package for Bayesian inference"
authors = [
  "Allen Riddell <riddella@indiana.edu>",
  "Ari Hartikainen <ahartikainen@users.noreply.github.com>",
]
license = "ISC"
readme = "README.rst"
homepage = "https://mc-stan.org"
repository = "https://github.com/stan-dev/pystan-next"
documentation = "https://pystan-next.readthedocs.io"
packages = [
    { include = "stan" },
]

classifiers = [
  "Intended Audience :: Science/Research",
  "License :: OSI Approved :: ISC License (ISCL)",
]

[tool.poetry.dependencies]
python = "^3.7"
aiohttp = "^3.6"
httpstan = "^2.3.0"
numpy = "^1.7"
clikit = "^0.6.2"

# docs
sphinx = { version = "^3.1.1", optional = true }
sphinx-rtd-theme = { version = "^0.5", optional = true }

[tool.poetry.dev-dependencies]
pytest = "^5.4"
pytest-cov = "^2.8"
pytest-asyncio = "^0.10"
pandas = "^1.0"

[tool.poetry.extras]
docs = ["sphinx", "sphinx-rtd-theme"]

[tool.black]
line-length = 119

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 119

[build-system]
requires = ["poetry~=1.0"]
build-backend = "poetry.masonry.api"
