name: pystan

on: [push, pull_request]

jobs:
  tests:
    name: pystan tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-10.14]
        python-version: [3.7, 3.8]
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install poetry and tox
        run: pip install "poetry==1.0.10" tox

      # export test dependencies from pyproject.toml, install them
      - name: Install dependencies
        run: |
          poetry export -f requirements.txt --dev -o requirements.txt \
          && pip install -r requirements.txt

      - name: Check code
        if: matrix.python-version == '3.8' && matrix.os == 'ubuntu-20.04'
        run: tox

      - name: Run tests
        run: poetry install -v && poetry run pytest -s -v tests
